@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Square+Peg&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

.bg-dark {
    background-color: #1b1c20 !important;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

/* NAVBAR */
.text-logo {
    font-family: "Square Peg", cursive;
    font-weight: bold;
    color: white;
}

.text-name {
    color: #ef5350;
}

.nav-link {
    color: white !important;
    font-weight: 300;
    padding: 20px 0px !important;
    margin-right: 15px;
}

.nav-link:hover {
    border-bottom: 2px solid white;
}

/* SECTION HEROE */
.heroe {
    padding: 8rem 0 6rem 0;
    color: white;
    background-image: url("../img/cyber.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



.carousel h1 {
    font-weight: bold;
}

.vertical.carousel .carousel-item {
    overflow: hidden;
}

.vertical.carousel .carousel-item-next:not(.carousel-item-start),
.vertical.carousel .active .carousel-item-end {
    transform: translateY(100%);
}

.vertical.carousel .carousel-item-prev:not(.carousel-item-end),
.vertical.carousel .active.carousel-item-start {
    transform: translateY(-100%);
}

.box {
    display: inline-block;
    height: 20rem;
}

.text {
    font-size: 1.5rem;
}

.highlight-red {
    color: #ef5350;
}
.highlight-orange {
    color: rgba(253, 149, 90, 0.8);
}
.highlight-purple {
    color: #7a288a;
}
.highlight-blue {
    color: #6ac4ff;
}

#typewriter:after {
    content: "|";
    animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        padding: 10px 0px !important;
    }

    .box {
        display: block;
        height: 12rem;
        margin-top: 1rem;
    }
    .text {
        font-size: 1rem;
    }
}

/* Seccion Sobre mi */
.sobre-mi {
    background-color: #f5f6f7;
    min-height: 500px;
}

.img-profile {
    height: 250px;
    margin: 1.5rem 0;
}

.sobre-mi p {
    text-align: justify;
}


@media screen and (max-width: 992px) {
    .sobre-mi .item-center {
        text-align: center;
    }
}

/* Seccion CV */
.CV {
    min-height: 500px;
    color: white;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 1rem;
    margin-bottom: 0;
}

/* Seccion Experiencia */
.Experiencia {
    background-color: aliceblue;
}

/* Section Footer */
footer p{
    color: white;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 300;
}

.iconos-redes-sociales a {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
    color: black;
}